body{
    background-color: #fbffe3;
}

body::before{
    display: block;
    content: "";
    height: 65px;    
} 

a{
    text-decoration: none; 
}

.navbar{ 
    background-color: #fbffe3;  
}

.navbar-brand{
    font-family: 'Skranji', cursive; 
    font-size: 2rem;  
}

.navbar-collapse, 
.link-1,
.link-2,
.link-3,
.link-4,
.link-5{
    font-family: 'Roboto', sans-serif;   
    font-size: 1.25rem;   
}

.text-header,
h1,
h2,
h3{   
    font-family: 'Lora', serif;
    font-weight: 600;  
    line-height: 1.5;          
}

.header-container{ 
    background: url(https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg);
    width: 100%;
    background-size: cover;      

}

.head-link{
    background-color: aquamarine; 
    border-radius: 20px; 
    padding: 1.5em  !important;
    margin-bottom: 10em !important;         
}

.bi-search{
    border-right: none;
}

.link-1,
.link-2,
.link-3,
.link-4,
.link-5{ 
    border-radius: 20px; 
}

.link-1{
    background: #f0f5c4;  
    color: #689c01;   
}
 
.link-2{
    background-color: #efedfa; 
    color: #8a80c2;    
}

.link-3{
    background-color: #e8f5fa;
    color: #5e96ad;    
}

.link-4{
    background-color: #feefc9;
    color: #a68a44;
}  

.link-5{
    background-color: #ffeae3; 
    color: #c37256; 
}

.btn-block:hover{
    border: 1px solid black; 
}

.img-featured{
    object-fit: cover; 
    width: 100%;
    max-height: 350px;  
 } 

 .button-featured{
    background: transparent;  
    border-radius: 10px; 
    color: black;       
 }

 .card:hover{
    cursor: pointer; 
 } 

@media (min-width:768px){ 
    .text-header{
        font-size: 4rem;   
    }

    .img-featured{
        max-height: 400px; 
    }
    
}

@media (max-width:767px){
    .text-header{
        font-size: 2rem; 
        line-height: normal;   
    }
    .header-container{
        margin: 1em 0;  
    }   
}